/* ----------------------
共通
---------------------- */
/*  セクションごとに囲む  */
.wrapper {
  max-width: 1280px;  /*  横幅最大サイズの指定  */
  margin: 50px auto 0; /* 中央に配置・セクション上部に余白の指定 */
  padding: 0 4%;
}

.wrapper-no-topmargin {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 4%;
}

/* Google Fonts--Merriweather Sans 英語のバックグラウンドタイトル */
.bg-title-font {
  font-family: 'Merriweather Sans', sans-serif;
}

/* Google Fonts--Shippori Mincho 日本語の縦書きタイトル */
.vertical-title-font {
  font-family: 'Shippori Mincho', serif;
}

/* 一番下に配置 */
.z-index-0 {
  z-index: 0;
}

/* 縦書きにする */
.vertical-writing-mode {
  writing-mode: vertical-rl;
}

/* 太字 */
.bold {
  font-weight: 600;
}

/* 英字の頭文字を大文字に */
.capitalize {
  text-transform: capitalize;
}

/* Flex */
.flex {
  display: flex;
}

.jc-spcbetween {
  justify-content: space-between;
}
.jc-center {
  justify-content: center;
}
.jc-flexend {
  justify-content: flex-end;
}
.ai-center {
  align-items: center;
}
.ta-center {
  text-align: center;
}
.ta-right {
  text-align: right;
}
.fd-column {
  flex-direction: column;
}

/* inline-block */
.inline-block {
  display: inline-block;
}

/* colors */
.lightgreen {
  color: #F0F5E1;
}
.grassgreen {
  color: #96C519;
}
.green {
  color: #1B9240;
}
.mossgreen {
  color: #468459;
}
.darkgreen {
  color: #0C4324;
}
.white {
  color: #FFFFFF;
}
.black {
  color: #000000;
}

/* background-colors */
.background-lightgreen {
  background-color: #F0F5E1;
}
.background-green {
  background-color: #1B9240;
}
.background-mossgreen {
  background-color: #468459;
}
.background-darkgreen {
  background-color: #0C4324;
}
.background-white {
  background-color: #FFFFFF;
}

/* title */
.title-box {
  font-size: 2.4rem;
  margin-bottom: 40px;
}

.section-title {
  font-size: 2.4rem;
}

.section-title-small {
  font-size: 1.8rem;
  margin-left: 10px;
}

.icon-left::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image:url(../images/Union.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 5px;
}

.icon-both::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image:url(../images/Head_02_DecoLeft16.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 18px;
}

.icon-both::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image:url(../images/Head_02_DecoRight16.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-left: 18px;
}

.section-subtitle {
  font-size: 2.4rem;
  margin-top: 20px;
}

/* border */
.border-right {
  border-right: dashed 1px #1B9240;
}

.course__subtitle {
  font-size: 2.4rem;
}

/* ヘッダー「問い合わせ」ボタン */
.header__nav-btn {
  display: inline-block;
  border-radius: 10px;
}

.header__nav-btn > .nav__link {
  padding: 15px;
}

/* button-clear */
.btn {
  display: inline-block;
  border: #000000 solid 1px;
  border-radius: 10px;
  padding: 3px 15px;
  margin-top: 30px;
  font-weight: 1.4rem;
}

.btn:hover {
  border: #1B9240 solid 1px;
  color: #FFFFFF;
  background-color: #1B9240;
}


/* button-green */
.btn-green {
  display: inline-block;
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
}

/* セクション上部の画像 */
.flame-section-top img {
  width: 100%;
}

/* PC画面で非表示 */
.sp {
  display: none;
}

/* ----------------------
セクション
---------------------- */
/* header */
.header {
  /* ヘッダーを上部に固定（浮いた分mainvisualが上に持ち上がる） */
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 0 2%;
}

.header__nav-menu {
  font-size: 1.4rem;
}

[class*="__nav-list"] {
  padding: 20px 0;
  margin-left: 2vw;
}

/* header js */



/* carousel */
.carousel__outer {
  position: relative;
  z-index: 0;
}

.carousel__box {
  background-image: url(../images/mainvisual-text-bg.png);
  position: absolute;
  top: 150px;
  left: 90px;
  z-index: 5;
}

.carousel__text {
  font-size: 2.8rem;
  letter-spacing: 0.5rem;
}

.carousel__img-pc {
  margin-left: auto;
}

/* news */
.news__title {
  display: inline-block;
}

.news__box-inner {
  width: 100%;
}

.news__list + .news__list {
  margin-left: 2vw;
}

.news__text {
  margin-left: 4vw;
}

.op-hrs-tag {
  padding: 2px 16px;
  border-radius: 5px;
  font-size: 1.4rem;
}

.news__link {
  font-size: 1.4rem;
  margin-left: auto;
}

/* concept */
.concept__container {
  padding-bottom: 60px;
}

.concept__bigbox {
  position: relative;
}

.concept__bg-img-green {  /* 背景の画像 */
  background-image: url(../images/BGicon_Green.png);
  background-repeat: no-repeat;
  background-size: auto 336px;
  background-position: right -70px bottom 0px;
  background-color:rgba(255,255,255,0.25);
  background-blend-mode:lighten;
}

.concept__box-left {
  width: 40%;
  padding-right: 20px;
}

.concept__subtitle {
  font-size: 3.2rem;
  letter-spacing: 0.54rem;
  margin: 20px 0;
}

.concept__bg-text {
  font-size: 134px;
  color: #DAE2C2;
  opacity: 0.25;
  position: absolute;
  top: 110px;
  left: 20px;
  z-index: -1;
}

/* course */
.course__container {
  padding-bottom: 50px;
}

.course__relative {
  position: relative;
}

.course__bg-text {
  font-size: 134px;
  color: #DAE2C2;
  opacity: 0.75;
  position: absolute;
  top: 110px;
  left: 20px;
}

.course__bigbox {
  gap: 40px;
  margin-top: 40px;
}

.course__bg-img-green {  /* 背景の画像 */
  background-image: url(../images/BGicon_Green.png);
  background-repeat: no-repeat;
  background-size: auto 336px;
  background-position: right -70px bottom 0px;
}

.course__img img {
  border-radius: 15px;
}

.course__subtitle {
  font-size: 2.4rem;
}

.course__text {
  font-size: 1.8rem;
  list-style: disc inside;
}

/* voice */
.voice__container {
  padding-bottom: 30px;
  position: relative;
}

.voice__flame img {
  height: 320px;
  object-fit: cover;
  object-position: bottom;
}

.voice__absolute {
  position: absolute;
  top: 280px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.voice__bigbox {
  margin-top: 50px;
}

.voice__box {
  width: calc((100% - 30px) / 3);
}

.voice__box + .voice__box {
  margin-left: 2%;
}

.voice__subtitle {
  font-size: 2.4rem;
  margin-top: 20px;
}

.voice__text {
  font-size: 1.8rem;
  margin-top: 10px;
}

.voice__img img {
  border-radius: 50%;
}

/* access */
.access__container {
  padding-bottom: 50px;
}

.access__bigbox {
  margin-top: 20px;
}

.access__box-left, .access__box-right {
  width: 45%;
}

.access__address, .access__tel, .access__op-hrs {
  margin-top: 16px;
}

/* 必要ないかも？ */
.access__box-left {
  margin: 0 auto;
}

.access__tel {
  font-size: 2.4rem;
}

.access__tel-span {
  font-size: 1.6rem;
}

.access__op-hrs {
  font-size: 1.4rem;
  display: block;
  border-collapse: collapse;
  overflow-x: scroll; /* 画面幅に収まらない場合、横スクロール */
  border-radius: 10px;
}

.access__op-hrs-row:nth-child(3) {
  background-color: #DDDDDD;
}

.access__op-hrs-content {
  padding: 15px;
  border: 1px solid #ECECEC;
}

.access__map {
  width: 80%;
  height: 350px;
}

/* フッター */
.footer__box {
  padding: 10px 0;
  margin: 0 calc(50% - 50vw);
}

.footer__copyright {
  font-size: 1.2rem;
}

/* ----------------------
jQueryの指定(PC)
---------------------- */
/* TOPに戻るボタン */
#page-top {
  position: fixed;
  bottom: 128px;
  right: 34px;
  width: 64px;
  opacity: 0.8;
}


/* ----------------------
レスポンシブ　ブレークポイント　基本768px（必要に応じて900px）
---------------------- */
/* 768pxより大きい */
@media screen and (min-width: 769px) {

  
  /* voice */
  .voice__flame-sp {
    display: none;
  }
}


/* 900pxより小さい */
@media screen and (max-width: 900px) {
  /* submit-button-clear */
  .pc-br {
    display: none;
  }
  
  /* footer */
  .footer__nav-box, .footer__nav-menu {
    flex-direction: column;
  }

  .footer__nav-list {
    color: #1B9240;
    margin: 0 auto;
  }

}

/* 768pxより小さい */
@media screen and (max-width: 768px) {
  /* ----------------------
  共通
  ---------------------- */
  .title-box {
    font-size: 1.8rem;
  }
  
  .section-title {
    font-size: 1.8rem;
  }
    
  .icon-both::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image:url(./images/Head_02_DecoLeft16.png);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-right: 18px;
  }
  
  .icon-both::after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image:url(./images/Head_02_DecoRight16.png);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-left: 18px;
  }
  
  .section-subtitle {
    font-size: 1.8rem;
    margin-top: 20px;
  }

  /* button-clear */
  .btn {
    display: inline-block;
    border: #0C4324 solid 1px;
    border-radius: 10px;
    padding: 3px 15px;
    margin-top: 30px;
    font-weight: 1.4rem;
    color: #0C4324;
  }

  /* スマホ画面で表示および非表示 */
  .sp {
    display: block;
  }

  .pc {
    display: none;
  }
  
  /* ----------------------
  セクション
  ---------------------- */

  /*==================================================
　5-2-1 3本線が×に
===================================*/
/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn1{
  position: relative;/*ボタン内側の基点となるためrelativeを指定*/
  background:#57a2c7;
  cursor: pointer;
    width: 50px;
    height:50px;
  border-radius: 5px;
}

/*ボタン内側*/
.openbtn1 span{
  display: inline-block;
  transition: all .4s;/*アニメーションの設定*/
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
background: #fff;
  width: 45%;
}

.openbtn1 span:nth-of-type(1) {
top:15px; 
}

.openbtn1 span:nth-of-type(2) {
top:23px;
}

.openbtn1 span:nth-of-type(3) {
top:31px;
}

/*activeクラスが付与されると線が回転して×に*/

.openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
opacity: 0;/*真ん中の線は透過*/
}

.openbtn1.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

  /* carousel */
  .carousel__container-pc {
    display: none;
  }

  .carousel__img-sp {
    margin-left: auto;
  }
  
  /* news */
  .news__box-outer {
    flex-direction: column;
    align-items: flex-start;
  }

  .news__list + .news__list{
    margin-left: 0;
  }

  .news__content {
    flex-direction: column;
    width: 45%;
  }

  /* レスポンシブにした時に */
  .news__text {
    width: 100%;
  }

  /* うまく機能しない。「お知らせ一覧へ」の文字を右寄せしたい */
  .news__link {
    text-align: right;
    color: #0C4324;
  }

  /* concept */
  .concept__bg-img-green {  /* 背景の画像 */
    background-size: auto 175px;
    background-position: right -70px bottom 0px;
  }
  
  .concept__bigbox {
    flex-direction: column-reverse;
  }
  
  .concept__box-left {
    width: 100%;
    padding-right: 0px;
  }

  .concept__box-left > .title-box > .section-title {
    font-size: 2.4rem;
  }

  .concept__box-left > .btn-wrap {
    text-align: center;
  }

  .concept__subtitle {
    font-size: 2.4rem;
  }

  .concept__bg-text {
    font-size: 72px;
    top: 460px;
    left: -40px;
  }

  .concept__box-right {
    text-align: center;
  }

  /* course */
  .course__bg-text {
    font-size: 72px;
    top: 70px;
    left: -40px;
  }

  .course__bigbox {
    flex-direction: column;
  }

  .course__bg-img-green {  /* 背景の画像 */
    background-size: auto 175px;
    background-position: right -70px bottom 0px;
  }

  /* voice */
  .voice__flame-pc {
    display: none;
  }  

  .voice__bigbox {
    flex-direction: column;
  }

  .voice__box {
    width: 100%;
  }

  .voice__box + .voice__box {
    margin: 40px 0 0 0;
  }
  
  /* access */
  .access__bigbox {
    flex-direction: column;
  }

  .access__box-left, .access__box-right {
    width: 100%;
  }

  .access__box-right {
    margin-top: 50px;
  } 

  .access__tel {
    font-size: 1.8rem;
  }

  .access__map {
    width: 100%;
    height: 250px;
  }

  .access__btn {
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
  }

 /* footer */
  .footer__nav-menu {
    color: #0C4324;
  }

  /* ----------------------
jQueryの指定(SP)
---------------------- */
/* TOPに戻るボタン */
#page-top {
  bottom: 70px;
  right: 23px;
  width: 48px;
}

  
}