/* ----------------------
共通
---------------------- */





/*  セクションごとに囲む  */
.wrapper {
  max-width: 1280px;  /*  横幅最大サイズの指定  */
  margin: 90px auto;     /*  中央に配置・セクション上部に余白の指定  */
  padding: 0 4%;      /*  スマートフォン向け余白の指定  */
}

/* Google Fonts--Merriweather Sans 英語のバックグラウンドタイトル */
.background-title-font {
  font-family: 'Merriweather Sans', sans-serif;
}

/* Google Fonts--Shippori Mincho 日本語の縦書きタイトル */
.vertical-title-font {
  font-family: 'Shippori Mincho', serif;
}

/* 縦書きにする */
.vertical-writing-mode {
  writing-mode: vertical-rl;
}

/* 太字 */
.bold {
  font-weight: 700;
}

/* 英字の頭文字を大文字に */
.capitalize {
  text-transform: capitalize;
}

/* Flex */
.flex {
  display: flex;
}

.jc-spcbetween {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.jc-flexend {
  justify-content: flex-end;
}

.ai-center {
  align-items: center;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.fd-column {
  flex-direction: column;
}

/* inline-block */
.inline-block {
  display: inline-block;
}

/* colors */
.lightgreen {
  color: #F0F5E1;
}
.grassgreen {
  color: #96C519;
}
.green {
  color: #1B9240;
}
.mossgreen {
  color: #468459;
}
.darkgreen {
  color: #0C4324;
}
.white {
  color: #FFFFFF;
}
.black {
  color: #000000;
}

/* background-colors */
.background-lightgreen {
  background-color: #F0F5E1;
}
.background-green {
  background-color: #1B9240;
}
.background-mossgreen {
  background-color: #468459;
}
.background-white {
  background-color: #FFFFFF;
}

/* title */
.title-box {
  font-size: 2.4rem;
  margin-bottom: 40px;
}

.section-title, .section-subtitle {
  font-size: 2.4rem;
}

.icon-left::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image:url(./images/Union.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.icon-both::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image:url(./images/Head_02_DecoLeft16.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.icon-both::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image:url(./images/Head_02_DecoRight16.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}


/* border */
.border-right {
  border-right: dashed 1px #1B9240;
}

.button-padding {
  padding-right: 20px;
}

.course__subtitle {
  font-size: 2.4rem;
}

/* button-clear */
.btn {
  display: inline-block;
  border: #000000 solid 1px;
  border-radius: 10px;
  padding: 3px 15px;
  margin-top: 30px;
}

/* button-green */
.btn-green {
  display: inline-block;
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
}



/* ----------------------
セクション
---------------------- */
/* header */
.header {
  /* ヘッダーを上部に固定（浮いた分mainvisualが上に持ち上がる） */
  position: fixed;
  z-index: 10;
}


[class*="__nav-list"] {
  padding: 20px 0;
  margin-left: 2vw;
}

/* main-visual */
.main-visual {
  position: relative;
  z-index: 0;
}

.main-visual__box {
  background-image: url(./images/mainvisual-text-bg.png);
  position: absolute;
  top: 90px;
  left: 90px;
}

.main-visual__text {
  font-size: 2.8rem;
}

/* concept */
#concept {
  padding: 0 20%;
}

.concept__box-left {
  width: 50%;
  padding-right: 20px;
}

.concept__subtitle {
  font-size: 3.2rem;
  letter-spacing: 0.54rem;
  font-weight: 700;
  margin: 20px 0;
}

/* course */
#course {
  padding-bottom: 50px;
}

.course__container {
  gap: 40px;
  margin-top: 40px;
}

.course__img img {
  border-radius: 15px;
}

.course__subtitle {
  font-size: 2.4rem;
}

.course__text {
  font-size: 1.8rem;
  list-style: disc inside;
}

/* customers-voice */
.customers-voice__container {
  margin-top: 50px;
}

.customers-voice__box {
  width: 33.3%;
  /* width: calc((100%-30px)/3); */
}

.customers-voice__box + .customers-voice__box {
  margin-left: 2%;
}

.customers-voice__subtitle {
  font-size: 2.4rem;
  margin-top: 20px;
}

.customers-voice__text {
  font-size: 1.8rem;
  margin-top: 10px;
}

.customers-voice__img img {
  border-radius: 50%;
}

/* access */
.access__container {
  margin-top: 20px;
}

.access__box-left, .access__box-right {
  width: 50%;
}

/* 必要ないかも？ */
.access__box-left {
  margin: 0 auto;
}

.access__tel {
  font-size: 2.4rem;
}

.access__tel-span {
  font-size: 1.6rem;
}

.access__op-hrs {
  font-size: 1.4rem;
  display: block;
  border-collapse: collapse;
  overflow-x: scroll; /* 画面幅に収まらない場合、横スクロール */
  border-radius: 10px;
}

.access__op-hrs-row:nth-child(3) {
  background-color: #ECECEC;
}

.access__op-hrs-content {
  padding: 15px;
  border: 1px solid #DDDDDD;
}

.access__map {
  width: 80%;
  height: 350px;
}


/* フッター */
.footer__box {
  padding: 10px 0;
  margin: 0 calc(50% - 50vw);
}

.footer__copyright {
  font-size: 1.2rem;
}


/* ----------------------
レスポンシブ　ブレークポイント　基本768px（必要に応じて900px）
---------------------- */
/* 900px */
@media screen and (max-width: 900px) {
  /* submit-button-clear */
  .br-none {
    display: none;
  }
 
  /* concept */
  #concept {
    flex-direction: column-reverse;
    padding: 0 4%;
  }
  
  .concept__box-left {
    width: 100%;
    padding-right: 0px;
  }

  .concept__box-left > .btn-wrap {
    text-align: center;
  }

  .concept__box-right {
    text-align: center;
  }
  
  /* course */
  .course__container {
    flex-direction: column;
  }

  /* footer */
  .footer__nav-box, .footer__nav-menu {
    flex-direction: column;
  }

  .footer__nav-list {
    color: #1B9240;
    margin: 0 auto;
  }

  
}

/* 700px */
@media screen and (max-width: 768px) {

  /* customers-voice */
  .customers-voice__container {
    flex-direction: column;
  }

  .customers-voice__box {
    width: 100%;
  }

  .customers-voice__box + .customers-voice__box {
    margin: 40px 0 0 0;
  }
  
  /* access */
  .access__container {
    flex-direction: column;
  }

  .access__box-left, .access__box-right {
    width: 100%;
  }

  .access__box-right {
    margin-top: 50px;
  }  

  .access__map {
    width: 100%;
    height: 250px;
  }
  
}